@import "../../node_modules/antd/lib/style/themes/default.less";

// All Ant Design Variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 這邊只能放 ant design 有設定的變數
@primary-color : #383838;
@info-color : #1890ff;
@success-color :  #52c41a;
@processing-color : #1890ff;
@error-color : #f5222d;
@highlight-color : #f5222d;
@warning-color : #faad14;
@normal-color : #d9d9d9;

@text-color: #000000;
@layout-header-background: #b36e94;

// Table
@table-header-bg: #383838;
@table-header-color: #ffffff;
@table-header-sort-bg: #787878;
